* {
  margin: 0;
  padding: 0;
  border: 0;
}
.container {
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 300px;
  width: 300px;
  background-color: #000;
  border: 2px solid #fff;
  font-size: 150px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}

.box:hover {
  background-color: #fff;
  color: #000;
}
